---
---

<footer>
  <a title="jan Elikan's second brain" href="/" class="sitelen-pona reset-color">
    <span>lawa nanpa tu</span>
    <span class="desaturated">pi</span>
    <span>jan [e lipu ijo+kasi ante nasin]</span>
  </a>
</footer>

<style>
  .reset-color {
    color: var(--text);
  }

  .desaturated {
    color: var(--color-subtext);
  }

  footer {
    border-top: 1px solid var(--color-border);
    width: 80ch;
    margin: 1em auto 0 auto;
    padding: 1em;
    display: flex;
    gap: 1.618em;
    justify-content: center;
    text-wrap: nowrap;
  }
</style>
