---
const { title } = Astro.props.frontmatter;
import type { MarkdownLayoutProps } from 'astro';

const { frontmatter, url } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<main>
	    <slot />
		</main>
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

	:root {
		--color-base: #1e1e2e;
		--color-text: #cdd6f4;
		--color-link: #89dceb;
		--color-emphasis: #a6e3a1;
		--color-border: #313244;
	}

	body {
		background: var(--color-base);
		color: var(--color-text);
	}

	main {
		max-width: 80ch;
		font-family: JetBrains Mono;
		font-size: 16px;
		margin: 0 auto;
	}

	a {
		color: var(--color-link);
	}

	em {
		color: var(--color-emphasis);
	}

	hr {
		border: 1px solid var(--color-border);
	}

	table {
		width: 100%;
		text-align: left;
		border: none;
		border-collapse: collapse;
	}

	tr, td, th {
		border: 1px solid var(--color-border);
		padding: 0.25em 0.5em;
	}

	th {
		font-weight: bold;
	}
</style>
