---
import '@fontsource/jetbrains-mono';
import type { MarkdownLayoutProps } from 'astro';
import Header from "../components/Header.astro";
import NoteMeta from "../components/NoteMeta.astro";

const { frontmatter } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>jan Elikan / {frontmatter.title}</title>
	</head>
	<body>
		<Header />
		<main>
			<NoteMeta name={frontmatter.title} {...frontmatter} />
	    <slot />
		</main>
	</body>
</html>

<style is:global>
	:root {
		--color-base: #1e1e2e;
		--color-text: #cdd6f4;
		--color-subtext: #a6adc8;
		--color-link: #a6e3a1;
		--color-emphasis: #f9e2af;
		--color-deleted: #f38ba8;
		--color-border: #313244;
		--color-code-base: #181825;
		--color-code-text: #cdd6f4;
		--color-header-base: #181825;
		--color-select: #b4befe;
	}

	@media (prefers-color-scheme: light) {
		:root {
			--color-base: #eff1f5;
			--color-text: #4c4f69;
			--color-subtext: #6c6f85;
			--color-link: #7287fd;
			--color-emphasis: #1e66f5;
			--color-deleted: #d20f39;
			--color-border: #ccd0da;
			--color-code-base: #181825;
			--color-code-text: #cdd6f4;
			--color-header-base: #181825;
			--color-select: #7287fd;
		}
	}

	* {
		/* reset these, they are annoying */
		margin: 0;
		padding: 0;
	}

	@font-face {
		font-family: 'nasin-nanpa';
		src: url('/fonts/nasin-nanpa-4.0.1.otf') format('opentype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	body {
		background: var(--color-base);
		color: var(--color-text);
		font-family: "JetBrains Mono", monospace;
	}

	main {
		max-width: 80ch;
		font-size: 16px;
		margin: 0 auto;
		padding: 1em;
	}

	.sitelen-pona {
		font-family: "nasin-nanpa", monospace;
		text-decoration: none;
	}

	a {
		color: var(--color-link);
	}

	p {
		padding-bottom: 1em;
	}

	em {
		color: var(--color-emphasis);
	}

	del {
		color: var(--color-deleted);
	}

	hr {
		border: 1px solid var(--color-border);
		margin: 0.25em 0;
	}

	ul, ol {
		padding: 0 0 1em 20px;
	}

	table {
		width: 100%;
		text-align: left;
		border: none;
		border-collapse: collapse;
	}

	tr, td, th {
		border: 1px solid var(--color-border);
		padding: 0.25em 0.5em;
	}

	th {
		font-weight: bold;
	}

	p code {
		background: var(--color-code-base) !important;
		color: var(--color-code-text) !important;
		/* took this from catppuccin-obsidian */
		padding: 0.1em 0.25em;
		border-radius: 4px;
	}

	.astro-code {
		background: var(--color-code-base) !important;
		padding: 1ch;
		border-radius: 8px;
	}

	::selection {
		color: var(--color-base);
		background: var(--color-select);
	}
</style>
